In [1]:
import config
from binance.client import Client
client = Client(config.API_KEY, config.API_SECRET)

In [ ]:
prices = client.get_all_tickers()

i = 0
for price in prices:
    if i>5:
        break
    i = i+1
    print(price)

In [ ]:
klines = client.get_historical_klines("SOLUSDT", Client.KLINE_INTERVAL_30MINUTE, "1 Jan, 2021", "29 Dec, 2021")

for kline in klines:
    print(kline)

print(len(klines))

In [ ]:
# open time, open, high, low, close, volume, close time, quote asset volume, number of trades, taker buy base asset volume, taker buy quote asset volume, ignored

import csv
csvfile = open('sol5m.csv', 'w', newline='')
csvwriter = csv.writer(csvfile, delimiter=',')

for kline in klines:
    csvwriter.writerow(kline)

In [14]:
import pandas as pd
df = pd.read_csv('5m.csv')

df.head()

,unix_timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_vol,taker_buy_quote_asset_vol,ignore
0,1609459200000,1.5088,1.5194,1.5061,1.5137,2018.18,1609459499999,3054.443214,43,1327.46,2007.880447,0
1,1609459500000,1.5145,1.5188,1.5144,1.5146,8610.48,1609459799999,13060.621662,175,4758.42,7220.569261,0
2,1609459800000,1.5146,1.5174,1.5026,1.5026,5464.30,1609460099999,8269.915494,127,668.27,1011.366894,0
3,1609460100000,1.5024,1.5032,1.5001,1.5032,1024.67,1609460399999,1538.424902,31,441.21,662.666399,0
4,1609460400000,1.5006,1.5042,1.5006,1.5032,630.36,1609460699999,947.334468,11,285.55,429.407686,0

In [15]:
df['unix_timestamp']=(pd.to_datetime(df['unix_timestamp'],unit='ms')) 
df.head()

,unix_timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_vol,taker_buy_quote_asset_vol,ignore
0,2021-01-01 00:00:00,1.5088,1.5194,1.5061,1.5137,2018.18,1609459499999,3054.443214,43,1327.46,2007.880447,0
1,2021-01-01 00:05:00,1.5145,1.5188,1.5144,1.5146,8610.48,1609459799999,13060.621662,175,4758.42,7220.569261,0
2,2021-01-01 00:10:00,1.5146,1.5174,1.5026,1.5026,5464.30,1609460099999,8269.915494,127,668.27,1011.366894,0
3,2021-01-01 00:15:00,1.5024,1.5032,1.5001,1.5032,1024.67,1609460399999,1538.424902,31,441.21,662.666399,0
4,2021-01-01 00:20:00,1.5006,1.5042,1.5006,1.5032,630.36,1609460699999,947.334468,11,285.55,429.407686,0

In [16]:
df = df.drop(['volume','close_time', 'quote_asset_volume','number_of_trades','taker_buy_base_asset_vol','taker_buy_quote_asset_vol','ignore'], axis = 1)

In [54]:
df['year'] = df['unix_timestamp'].dt.year
df['month'] = df['unix_timestamp'].dt.month
df['day'] = df['unix_timestamp'].dt.day
df['hour'] = df['unix_timestamp'].dt.hour
df['minute'] = df['unix_timestamp'].dt.minute

df.head()

,unix_timestamp,open,high,low,close,year,month,day,hour,minute
0,2021-01-01 00:00:00,1.5088,1.5194,1.5061,1.5137,2021,1,1,0,0
1,2021-01-01 00:05:00,1.5145,1.5188,1.5144,1.5146,2021,1,1,0,5
2,2021-01-01 00:10:00,1.5146,1.5174,1.5026,1.5026,2021,1,1,0,10
3,2021-01-01 00:15:00,1.5024,1.5032,1.5001,1.5032,2021,1,1,0,15
4,2021-01-01 00:20:00,1.5006,1.5042,1.5006,1.5032,2021,1,1,0,20

In [23]:
df.iloc[0,1]

1.5088

In [69]:
orderid = 1
order_status = 0 # 0 = open, 1 = bought, 2 = sold, 3 = cancelled
investment = 1000
slots = 20
slots_used = 0
open_buys = 0
open_sells = 0
roi = 0.05
fees = 0.001
order_size = investment/slots
profit = 0
order_placed_at = df.iloc[0,0]
order_bought_at = ''
order_closed_at = ''
order_cancelled_at = ''
order_life = 0
buy_price = df.iloc[0,2]
units = order_size * (1-fees)/buy_price
sell_price = order_size * (1+roi) / (units * (1-fees))
order = [orderid,order_status, order_size, buy_price, sell_price, profit, order_placed_at, order_bought_at, order_closed_at, order_cancelled_at, order_life]

order_data = [order]

print(order_data)

[[1, 0, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), '', '', '', 0]]

In [65]:
for index, row in df.iterrows():
    print(row)
    break

unix_timestamp    2021-01-01 00:00:00
open                           1.5088
high                           1.5194
low                            1.5061
close                          1.5137
year                             2021
month                               1
day                                 1
hour                                0
minute                              0
Name: 0, dtype: object

In [70]:
i = 0
for index, row in df.iterrows():
    if i>20:
        break
    i = i + 1

    for order in order_data:
        if order[1] == 0:
            if row['high'] >= order[3]:
                order[1] = 1
                order[7] = row['unix_timestamp']
                print(order)
                new_order = [order[0]+1,0,order_size, row['high']*(1-roi), order_size * (1+roi) / ((order_size * (1-fees)/(row['high']*(1-roi))) * (1-fees)), 0, row['unix_timestamp'], '', '', '', 0]
                order_data.append(new_order)
                break

        elif order[1] == 1:
            if order[4] > row['low'] and order[4] < row['high']:
                order[1] = 2
                order[5] = order_size * roi
                order[8] = row['unix_timestamp']
                order[10] = (order[8] - order[7]).total_seconds()/60
                break
            
        print(order)
    print(row[2])

[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
1.5194
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
1.5188
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
1.5174
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
1.5032
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 1, 50.0, 1.42804, 1.502445388331274, 0, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), '', '', 0]
1.5042
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
1.5048
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 1, 50.0, 1.42899, 1.503444886327769, 0, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), '', '', 0]
1.5034
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
1.5087
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 1, 50.0, 1.44343, 1.5186372558744932, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), '', '', 0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
1.5157
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
1.5425
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
1.5405
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 1, 50.0, 1.4634749999999999, 1.5397266636005373, 0, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), '', '', 0]
1.5442
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
1.5557
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]
1.5611
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]
[11, 1, 50.0, 1.483045, 1.560316322328334, 0, Timestamp('2021-01-01 01:05:00'), Timestamp('2021-01-01 01:10:00'), '', '', 0]
1.5748
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]
1.591
[1, 1, 50.0, 1.5194, 1.5985655324994663, 0, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), '', '', 0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]
[11, 2, 50.0, 1.483045, 1.560316322328334, 2.5, Timestamp('2021-01-01 01:05:00'), Timestamp('2021-01-01 01:10:00'), Timestamp('2021-01-01 01:15:00'), '', 5.0]
[12, 1, 50.0, 1.49606, 1.5740094448803157, 0, Timestamp('2021-01-01 01:10:00'), Timestamp('2021-01-01 01:20:00'), '', '', 0]
1.5955
1.6046
[1, 2, 50.0, 1.5194, 1.5985655324994663, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 01:25:00'), '', 85.0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]
[11, 2, 50.0, 1.483045, 1.560316322328334, 2.5, Timestamp('2021-01-01 01:05:00'), Timestamp('2021-01-01 01:10:00'), Timestamp('2021-01-01 01:15:00'), '', 5.0]
[12, 1, 50.0, 1.49606, 1.5740094448803157, 0, Timestamp('2021-01-01 01:10:00'), Timestamp('2021-01-01 01:20:00'), '', '', 0]
[13, 1, 50.0, 1.5157249999999998, 1.5946990534077619, 0, Timestamp('2021-01-01 01:20:00'), Timestamp('2021-01-01 01:30:00'), '', '', 0]
1.6023
[1, 2, 50.0, 1.5194, 1.5985655324994663, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 01:25:00'), '', 85.0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]
[11, 2, 50.0, 1.483045, 1.560316322328334, 2.5, Timestamp('2021-01-01 01:05:00'), Timestamp('2021-01-01 01:10:00'), Timestamp('2021-01-01 01:15:00'), '', 5.0]
[12, 1, 50.0, 1.49606, 1.5740094448803157, 0, Timestamp('2021-01-01 01:10:00'), Timestamp('2021-01-01 01:20:00'), '', '', 0]
[13, 1, 50.0, 1.5157249999999998, 1.5946990534077619, 0, Timestamp('2021-01-01 01:20:00'), Timestamp('2021-01-01 01:30:00'), '', '', 0]
[14, 1, 50.0, 1.522185, 1.601495639783928, 0, Timestamp('2021-01-01 01:30:00'), Timestamp('2021-01-01 01:35:00'), '', '', 0]
1.61
[1, 2, 50.0, 1.5194, 1.5985655324994663, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 01:25:00'), '', 85.0]
[2, 2, 50.0, 1.44343, 1.5186372558744932, 2.5, Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:45:00'), '', 40.0]
[3, 1, 50.0, 1.4428599999999998, 1.5180375570765956, 0, Timestamp('2021-01-01 00:05:00'), Timestamp('2021-01-01 00:10:00'), '', '', 0]
[4, 1, 50.0, 1.44153, 1.516638259881503, 0, Timestamp('2021-01-01 00:10:00'), Timestamp('2021-01-01 00:15:00'), '', '', 0]
[5, 2, 50.0, 1.42804, 1.502445388331274, 2.5, Timestamp('2021-01-01 00:15:00'), Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:25:00'), '', 5.0]
[6, 2, 50.0, 1.42899, 1.503444886327769, 2.5, Timestamp('2021-01-01 00:20:00'), Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:35:00'), '', 5.0]
[7, 1, 50.0, 1.4282299999999999, 1.502645287930573, 0, Timestamp('2021-01-01 00:30:00'), Timestamp('2021-01-01 00:40:00'), '', '', 0]
[8, 1, 50.0, 1.439915, 1.5149391132874617, 0, Timestamp('2021-01-01 00:40:00'), Timestamp('2021-01-01 00:50:00'), '', '', 0]
[9, 2, 50.0, 1.4634749999999999, 1.5397266636005373, 2.5, Timestamp('2021-01-01 00:50:00'), Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:00:00'), '', 5.0]
[10, 1, 50.0, 1.46699, 1.543424806187569, 0, Timestamp('2021-01-01 00:55:00'), Timestamp('2021-01-01 01:05:00'), '', '', 0]